<div class="sidebar">

    <h2>Plush</h2>

    <a href="{{ url_for('dashboard.dashboard') }}">
        Dashboard
    </a>

    <a href="{{ url_for('releases.releases') }}">
        Releases
    </a>

    <a href="#">
        Artists
    </a>

    <a href="#">
        Calendar
    </a>

    {% if current_user.is_authenticated and current_user.is_admin() %}

        <a href="{{ url_for('users.users') }}">
            Users
        </a>

    {% endif %}

    <div class="mt-4">

        {% if current_user.is_authenticated %}

            <div class="text-white-50 small mb-2">
                {{ current_user.name }}
            </div>

            <a href="{{ url_for('auth.logout') }}">
                Sign Out
            </a>

        {% endif %}

    </div>

</div>